### git으로 형상관리 할 때 무시할 파일
### 무시한다 : commit, push, pull 등에 영향을 받지 않는 파일, 디렉토리(하위의 모든 파일)
### 왜 무시시키냐? : local PC 환경에 영향을 주는 파일 (다른사람 pc에 내 환경이 적용되면 세팅이 틀어질수도 있다)

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS(eclipse IDE의 환결설정) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans(IDE) ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### static ###
src/main/resources/static/**

### VS Code ###
.vscode/

# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi

# Portable Network Graphics
*.png
out/
